.logo {
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.select-group {
    width: 100%;
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}